
  <!-- header -->
  <nz-header>
    <div><h1>Brane</h1></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>new Project</li>
    </ul>
  </nz-header>
  <!-- body -->
  <nz-content>
    <div nz-row>
      <div *ngFor="let project of projects">
        <nz-card style="width:300px;margin: 4%;" onclick="">
          <h3>{{ project.name }}</h3>
          <p>assignee: {{ getUser(project.assigneeId) }}</p>
          <p>Card content</p>
        </nz-card>
      </div>
    </div>
  </nz-content>